html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 1px rgb(0 0 0 / 10%);
  padding: 1px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.384);
  padding: 5px;
  box-shadow: 0 0 1px rgb(0 0 0 / 10%);
}
